h1 {
  color: #143414;
}

/* #main-div {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 15%,
    rgba(223, 239, 222, 1) 100%
  );
  width: 80vw;
  margin: 5% auto;
} */

#main-div {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div img {
  width: 2rem;
}

.nav-link img {
  width: 18px;
}

@media (max-width: 600px) {
  .nav-link img {
    width: 12px;
  }

  #heading {
    display: none;
  }
}
